/*Color Scheme*/
	$base-color-1: #A21232; /*Reddish*/
	$base-color-2: #1A1831; /*Dark Blueish Black*/
	$base-color-3: #20615B; /*Greeny*/
	$base-color-4: #DECE9C; /*Creamy*/
/*EndColor Scheme*/

$body-bg: rgb(252, 252, 252);

$nav-bg: $base-color-1;
$footer-bg: $base-color-1;

/*Text Colors*/
$default-text-color: $base-color-2;


/*Status BG*/
$pending: #fff;
$complete: rgba(87, 219, 104, 0.2);
$emergency: rgba(237, 111, 111, 0.2);
$more: #fff;
