<template name='login'>
	<div class="row"  id="login-page">
		<div class="col s12 m6 l4 offset-m3 offset-l4">
			<h3 class="light center">LOGIN</h3>

			<button class="waves-effect waves-light btn-large login-btn" id="googlelogin">
				<span class="fa fa-google-plus"></span>
				<span class="text">Google Plus</span>
			</button>
			<button class="waves-effect waves-light btn-large login-btn" id="fblogin">
				<span class="fa fa-facebook"></span>
				<span class="text">facebook</span>
			</button>
		</div>
	</div>
	<!-- {{>loginButtons}} -->
	{{> scripts}}
</template>
