<template name="home">
  <!-- {{> allRequestList }} -->
  <table class=" highlight requestList">
    <thead>
      <tr>
          <th data-field="name">Name</th>
          <th data-field="bloodGroup">Blood Group</th>
          <th data-field="status">Status</th>
          <th data-field="createdAT">Created At</th>
      </tr>
    </thead>
    <tbody>
      <!-- {{> pages}} -->
      {{#each requests}}
        <tr class="req_link link" >
          <td>{{user.profile.name}}</td>
          <td>{{blood_group.title}}</td>
          <td>{{status.title}}</td>
          <td class="createdAt">{{timeStamp.createdAt}}</td>
        </tr>
        <!-- <li>{{name}}: {{desc}}</li> -->
      {{/each}}
    </tbody>
  </table>

  {{#if moreResults}}
    <div id="showMoreResults" style="margin-left: 25px;">
      <div class="loadMore">load More</div>
        <!-- <span class="loading">Loading...</span> -->
    </div>
  {{/if}}
  <!-- {{> pagesNav}} -->

  {{> floatButton }}
</template>
